.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0;

  background-image: url("../../img/bg-zigzag-mobile.png");
  background-repeat: no-repeat;
  background-position: top;
}

.contacts__wrapper {
  width: 100%;
  margin: 0 0 15px;
  padding: 0 30px;
}

.contacts__title {
  margin: 0 0 10px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
}

.contacts__info {
  border-spacing: 0 15px;
}

.contacts__field {
  width: 90px;

  display: flex;
  align-items: flex-start;
}

.contacts__map {
  width: 320px;
  height: 452px;
  margin: 0 0 30px;

  background-image: url("../../img/bg-map.jpg");
  background-repeat: no-repeat;
}

.contacts__button {
  width: 260px;
}
