.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0 38px;

  background-image: url("../../img/bg-zigzag-line.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 18px top;
}

.contacts__wrapper {
  width: 100%;
  margin: 0 0 23px;
  padding: 0 30px;
}

.contacts__title {
  margin: 0 0 10px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
}

.contacts__info {
  display: flex;
  justify-content: flex-start;
}

.contacts__field {
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  width: 77px;
  margin: 0;
  padding: 16px 0 14px;


}

.contacts__adress {
  margin: 0;
  padding: 16px 0 14px;
}

.contacts__adress-link {
  padding: 1px 0 4px;

  color: #444444;

  border-bottom: 1px solid #46c1ae;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

.contacts__map {
  width: 320px;
  height: 457px;
  margin: 0 0 38px;

  background-image:
    url("../../img/icon-map-pin.svg"),
    url("../../img/bg-map-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position:
    139px 145px,
    center;
}

.contacts__button {
  width: 260px;
}

@media (min-width: @tablet-width) {
  .contacts {
    padding: 76px 0 56px;

    font-size: 17px;
  }

  .contacts__wrapper {
    padding: 0 45px;
    margin-bottom: 42px;
  }

  .contacts__table {
    display: flex;
    width: 100%;
    padding-left: 5px;
  }

  .contacts__info {
    &:first-child {
      margin-right: 51px;
    }
  }

  .contacts__title {
    position: relative;

    margin-bottom: 33px;

    font-size: 43px;
    line-height: 50px;

    &::before {
      content: "";

      position: absolute;
      top: -15px;
      right: 8px;

      width: 47px;
      height: 81px;

      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
    }
  }

  .contacts__map {
    width: 100%;
    margin-bottom: 54px;

    background-image:
      url('../img/icon-map-pin.svg'),
      url('../img/map-tablet@1x.jpg');
    background-position:
      364px 139px,
      center;
  }

  .contacts__button {
    width: auto;
    min-width: 230px;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    position: relative;

    padding: 91px 50px 106px;

    background-size: 1050px;
    background-position: top;
  }

  .contacts__title {
    font-size: 53px;
    line-height: 57px;

    &::before {
      top: -8px;
      left: -105px
    }
  }

  .contacts__wrapper {
    width: 50%;
    padding: 70px 30px 0 168px;
    margin: 0;
  }

  .contacts__table {
    flex-wrap: wrap;
  }

  .contacts__map {
    width: 50%;
    margin: 0;

    background-image:
      url('../img/icon-map-pin.svg'),
      url('../img/map-desktop@1x.jpg');
    background-position:
      239px 146px,
      center;
  }

  .contacts__button {
    position: absolute;
    left: 224px;
    bottom: 103px;
  }
}
