.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 25px 30px 33px;

  background-color: #f1f1f1;
}

.footer__logo {
  display: none;
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 0 28px;
  padding: 0 0 25px;

  border-bottom: 1px solid #e5e5e5;
}

.footer__social-item {
  margin-right: 29px;

  &:last-child {
    margin: 0;
  }
}

.footer__social-link {
  position: relative;

  display: block;
  width: 30px;
  height: 30px;

  font-size: 0;
  line-height: 0;

  transition: all 0.2s ease-in;

  .footer__social-icon {
    position: absolute;
    top: 50%;
    left: 50%;

     fill: #231F20;

    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in;
  }

  &:hover .footer__social-icon,
  &:focus .footer__social-icon {
    fill: #46c1ae;
  }

  &:active .footer__social-icon {
    opacity: 0.3;
  }
}

.footer__copyright {
  width: 100%;
  padding: 0 57px 0 0;
}

.footer__copyright-link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  font-size: 19px;
  font-weight: 700;
  line-height: 18px;
  color: #000000;

  transition: all 0.2s ease-in;

  .footer__copyright-logo {
    position: absolute;
    top: -6px;
    right: -18px;

    fill: #63d1bb;

    transition: all 0.2s ease-in;
  }

  &:hover .footer__copyright-logo,
  &:focus .footer__copyright-logo {
    fill: #46c1ae;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .footer {
    padding: 51px 50px 49px;
    justify-content: space-between;
    align-items: center;
  }

  .footer__logo-image {
    transition: all 0.2s ease-in;
  }

  .footer__logo {
    display: block;

    &:hover .footer__logo-image,
    &:focus .footer__logo-image {
      fill: #46c1ae;
    }

    &:active .footer__logo-image {
      opacity: 0.3;
    }

    &:focus {
      outline: none;
    }

    &--disabled {
      pointer-events: none;
    }
  }

  .footer__social-list {
    width: auto;
    margin: 0 0 0 77px;
    padding: 0;

    border: none;
  }

  .footer__copyright {
    width: auto;
    min-width: 182px;
  }

  .footer__copyright-link {
    .footer__copyright-logo {
      right: -57px;
    }
  }
}
