.header {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  background-color: #ffffff;
}

.header__logo-wrapper {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  padding: 22px 0 22px;
}

.header__logo {
  display: block;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &--disabled {
    pointer-events: none;
  }
}

.header__logo-image {
  display: block;
  width: auto;
}

.header__news-list {
  display: none;
}

.header__delivery {
  display: none;
}

@media (min-width: @tablet-width) {
  .header {
    position: relative;
    background-color: transparent;
  }

  .header__logo-wrapper {
    position: absolute;
    top: 22px;
    left: 48px;

    width: auto;
    padding: 0;
  }

  .header__delivery {
    position: absolute;
    top: 89px;
    right: 40px;

    display: block;
    margin: 0;
    padding: 17px 10px;

    line-height: 24px;
    color: #444444;
  }
}

@media (min-width: @desktop-width) {
    .header {
      justify-content: space-between;
    }

    .header__logo-wrapper {
      top: 9px;
      left: 50%;

      transform: translateX(-50%);
    }

    .header__nav {
      margin: 0 50px;
    }

    .header__news {
      display: flex;
      justify-content: space-between;
      width: 100%;

      background-color: #f9f9f9;
    }

    .header__news-list {
      display: flex;
      margin: 0;
      padding: 0 21px 0 71px;
    }

    .header__news-link {
      display: block;
      padding: 17px 30px;

      font-size: 15px;
      line-height: 24px;
      font-weight: 700;
      color: #000000;

      &:hover,
      &:focus {
        opacity: 0.6;
        outline: none;
      }

      &:active {
        opacity: 0.3;
      }
    }

    .header__delivery {
      position: static;

      padding: 17px 101px;
    }
}
