.intro {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 75px 0;

  background-color: #f1f1f1;

  &--index {
    padding: 73px 0 0;

    background-image: url("../../img/bg-intro-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -15px;
  }
}

.intro--index {
  .intro__title {
    margin: 0 0 116px;
    padding: 0 38px;
  }
}

.intro__title {
  width: 100%;
  margin: 0;
  padding: 0 25px;

  font-size: 27px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: #010000;
}

.intro__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-end;
  width: 100%;
  min-height: 211px;

}

.intro__link {
  position: relative;

  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 103px;
  padding: 26px 29px 28px;

  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #ffffff;

  background-color: #63d1bb;

  .intro__link-icon {
    position: absolute;

    display: block;

    fill: #149080;
    opacity: 0.5;
  }

  &:hover,
  &:focus {
    padding-bottom: 33px;
  }

  &:hover .intro__link-icon,
  &:focus .intro__link-icon {
    opacity: 0.7;
  }

  &--interior:hover,
  &--interior:focus {
    background-color: #59d5bc;
  }

  &--interior .intro__link-icon {
    top: 23px;
    right: 36px;
  }

  &--toys {
    background-color: #56c3b2;
  }

  &--toys .intro__link-icon {
    top: 21px;
    right: 27px;
  }

  &--toys:hover,
  &--toys:focus {
    background-color: #46c1ae;
  }

  &:active span,
  &:active .intro__link-icon {
    opacity: 0.3;
  }
}
