.main-nav__search {
  position: relative;

  display: block;
  width: 100%;
  padding: 28px 0 26px 76px;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #000000;

  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;

  &:before {
    content: "";

    position: absolute;
    top: 32px;
    left: 32px;

    display: block;
    width: 18px;
    height: 18px;

    background-image: url("../../img/icon-search.png");
    background-repeat: no-repeat;
  }
}

.main-nav__basket {
  position: relative;

  display: block;
  width: 100%;
  padding: 28px 0 26px 76px;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #000000;

  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;

  &:before {
    content: "";

    position: absolute;
    top: 32px;
    left: 32px;

    display: block;
    width: 21px;
    height: 18px;

    background-image: url("../../img/icon-basket.png");
    background-repeat: no-repeat;
  }
}
