.product-list {
  padding: 31px 30px 56px;
}

.product-list__item {
  margin-bottom: 30px;

  &:last-child {
    margin: 0;
  }
}

@media (min-width: @tablet-width) {
  .product-list {
    padding: 67px 50px 62px;
  }

  .product-list__item {
    margin-bottom: 54px;
  }
}

@media (min-width: @desktop-width) {
  .product-list {
    display: flex;
    flex-wrap: wrap;
    padding: 108px 50px 105px;
    width: 100%;
  }

  .product-list__item {
    margin-right: 51px;
    margin-bottom: 56px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
