.production {
  position: relative;
}

.production__title {
  position: relative;

  width: 100%;
  margin: 0 0 201px;
  padding-left: 56px;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  color: #000000;

  &::before {
    content: "";

    position: absolute;
    top: 6px;
    left: 0;

    width: 32px;
    height: 27px;

    background-image: url("../../img/icon-video.svg");
    background-repeat: no-repeat;
  }
}

.production__video-player {
  position: absolute;
  top: 97px;
  z-index: 10;

  img {
    display: block;
    width: auto;
  }
}

.production__video-button {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 101px;
  height: 77px;

  font-size: 0;
  line-height: 0;

  background-image: url("../../img/icon-play.svg");
  background-repeat: no-repeat;

  transform: translate(-50%, -50%);

  &:hover {
    transform: translate(-50%, -50%) scale(1.1);
  }

  &:active {
    opacity: 0.3;

    transform: translate(-50%, -50%) scale(0.9);
  }
}

.production__wrapper {
  padding: 25px 33px 33px;

  border: 1px solid #ececec;
  background-color: #ffffff;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.production__description {
  margin: 0 0 24px;

  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #444444;
}

@media (min-width: @tablet-width) {
  .production {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 743px;
  }

  .production__video-player {
    position: relative;
    top: auto;
    left: auto;
  }

  .production__title {
    margin-bottom: 32px;
    padding: 0 0 0 66px;

    font-size: 20px;

    &::before {
      top: -5px;
      left: 1px;
    }
  }

  .production__wrapper {
    padding: 38px 40px 44px;
  }

  .production__description {
    margin-bottom: 34px;

    font-size: 15px;
    line-height: 30px;
  }
}
