.site-list {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.site-list__item {
  width: 100%;
}

.site-list__link {
  position: relative;

  display: block;
  width: 100%;
  padding: 28px 25px 27px 76px;

  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: #000000;

  box-shadow: 0 1px 0 #ececec, inset 0 1px 0 #ececec;

  .site-list__link-icon {
    position: absolute;
    top: 32px;
    left: 32px;

    fill: #231F20;
    opacity: 0.2;
  }

  &:hover .site-list__link-text {
    opacity: 0.6;
  }

  &:hover .site-list__link-icon {
    fill: #63d1bb;
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }

  &--disabled {
    pointer-events: none;
  }
}
